<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_645da097d6f847fdaba84a4f4a33db07 {
                    position: relative;
                    width: 900.0px;
                    height: 700.0px;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_645da097d6f847fdaba84a4f4a33db07" ></div>
        
</body>
<script>    
    
            var map_645da097d6f847fdaba84a4f4a33db07 = L.map(
                "map_645da097d6f847fdaba84a4f4a33db07",
                {
                    center: [49.8175, 15.473],
                    crs: L.CRS.EPSG3857,
                    zoom: 7,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_f386dc05dc1c461f88b6246ecbbfe29e = L.tileLayer(
                "https://stamen-tiles-{s}.a.ssl.fastly.net/terrain/{z}/{x}/{y}.jpg",
                {"attribution": "Map tiles by \u003ca href=\"http://stamen.com\"\u003eStamen Design\u003c/a\u003e, under \u003ca href=\"http://creativecommons.org/licenses/by/3.0\"\u003eCC BY 3.0\u003c/a\u003e. Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://creativecommons.org/licenses/by-sa/3.0\"\u003eCC BY SA\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_645da097d6f847fdaba84a4f4a33db07);
        
    
            var marker_101fcc14dafe4312be9bdcd5e564fee1 = L.marker(
                [50.0755, 14.4378],
                {}
            ).addTo(map_645da097d6f847fdaba84a4f4a33db07);
        
    
            var icon_5928082112144e8f80c6717b4ae812b8 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_101fcc14dafe4312be9bdcd5e564fee1.setIcon(icon_5928082112144e8f80c6717b4ae812b8);
        
    
        var popup_df5d3ab3aa8446dea10bfbd2fab00950 = L.popup({"maxWidth": 2650});

        
            var i_frame_153ab60a40bd4324afc8f8ef89c59a11 = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICAKICAgICAgICAgICAgPGgxPkhsYXZuw60gbcSbc3RvIFByYWhhIDwvaDE+PGJyPgogICAgICAgICAgICBQcmllbWVyOiBDWjAxMAogICAgICAgICAgICA8cD4KICAgICAgICAgICAgUHJpZW1lcm55IHBvY2V0IG5ha2F6ZW55Y2g6IDg5NDUuMDgwNDU5NzcwMTE1CiAgICAgICAgICAgIDwvcD4KICAgICAgICAgICAgPHA+CiAgICAgICAgICAgIFByaWVtZXJueSBwb2NldCB2eWxpZWNlbnljaDogNjc4MC4wMjY4MTk5MjMzNzE1CiAgICAgICAgICAgIDwvcD4KICAgICAgICAgICAgPC9wPgogICAgICAgICAgICBQcmllbWVybnkgcG9jZXQgdW1ydGk6ICAxMzYuNzIwMzA2NTEzNDA5OTUKICAgICAgICAgICAgPC9wPgogICAgICAgICAgICAnPGEgaHJlZj0iaHR0cDovLzEyNy4wLjAuMTo1MDAwL3N0YXRzL0NaMDEwInRhcmdldD0iX2JsYW5rIj4gWm9icmF6IGluZm9ybWFjaWUgbyBIbGF2bsOtIG3Em3N0byBQcmFoYScgPC9hPicKICAgICAgICAgICAg" width="500" style="border:none !important;" height="300"></iframe>`)[0];
            popup_df5d3ab3aa8446dea10bfbd2fab00950.setContent(i_frame_153ab60a40bd4324afc8f8ef89c59a11);
        

        marker_101fcc14dafe4312be9bdcd5e564fee1.bindPopup(popup_df5d3ab3aa8446dea10bfbd2fab00950)
        ;

        
    
    
            var marker_7882a7c674fa48849711edd73e6aae82 = L.marker(
                [49.9444, 16.2857],
                {}
            ).addTo(map_645da097d6f847fdaba84a4f4a33db07);
        
    
            var icon_3002ad250d1540169bdfb6f838bd2337 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_7882a7c674fa48849711edd73e6aae82.setIcon(icon_3002ad250d1540169bdfb6f838bd2337);
        
    
        var popup_52f5531ebf13486f849b7f855ed98390 = L.popup({"maxWidth": 2650});

        
            var i_frame_b62136e962f54c258abff4e7e4de7173 = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICAKICAgICAgICAgICAgPGgxPlBhcmR1Ymlja8O9IGtyYWogPC9oMT48YnI+CiAgICAgICAgICAgIFByaWVtZXI6IENaMDUzCiAgICAgICAgICAgIDxwPgogICAgICAgICAgICBQcmllbWVybnkgcG9jZXQgbmFrYXplbnljaDogNjA4LjUxNTMyNTY3MDQ5ODEKICAgICAgICAgICAgPC9wPgogICAgICAgICAgICA8cD4KICAgICAgICAgICAgUHJpZW1lcm55IHBvY2V0IHZ5bGllY2VueWNoOiAzOTkuNzA3ODU0NDA2MTMwMjUKICAgICAgICAgICAgPC9wPgogICAgICAgICAgICA8L3A+CiAgICAgICAgICAgIFByaWVtZXJueSBwb2NldCB1bXJ0aTogIDcuMDEyNDUyMTA3Mjc5NjkzCiAgICAgICAgICAgIDwvcD4KICAgICAgICAgICAgJzxhIGhyZWY9Imh0dHA6Ly8xMjcuMC4wLjE6NTAwMC9zdGF0cy9DWjA1MyJ0YXJnZXQ9Il9ibGFuayI+IFpvYnJheiBpbmZvcm1hY2llIG8gUGFyZHViaWNrw70ga3JhaicgPC9hPicKICAgICAgICAgICAg" width="500" style="border:none !important;" height="300"></iframe>`)[0];
            popup_52f5531ebf13486f849b7f855ed98390.setContent(i_frame_b62136e962f54c258abff4e7e4de7173);
        

        marker_7882a7c674fa48849711edd73e6aae82.bindPopup(popup_52f5531ebf13486f849b7f855ed98390)
        ;

        
    
    
            var marker_06d1be079f8b4c36aba12eb54f7214a2 = L.marker(
                [49.449, 15.6406],
                {}
            ).addTo(map_645da097d6f847fdaba84a4f4a33db07);
        
    
            var icon_4ff8caae3bc747c3a24f6d3fda0e84fd = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_06d1be079f8b4c36aba12eb54f7214a2.setIcon(icon_4ff8caae3bc747c3a24f6d3fda0e84fd);
        
    
        var popup_cbbf184d4a1e41b6b6e34efd1d5a86b5 = L.popup({"maxWidth": 2650});

        
            var i_frame_49a3724942ed4d89b11a177bded80cb9 = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICAKICAgICAgICAgICAgPGgxPktyYWogVnlzb8SNaW5hIDwvaDE+PGJyPgogICAgICAgICAgICBQcmllbWVyOiBDWjA2MwogICAgICAgICAgICA8cD4KICAgICAgICAgICAgUHJpZW1lcm55IHBvY2V0IG5ha2F6ZW55Y2g6IDUwOS4zNzM5NDYzNjAxNTMyNAogICAgICAgICAgICA8L3A+CiAgICAgICAgICAgIDxwPgogICAgICAgICAgICBQcmllbWVybnkgcG9jZXQgdnlsaWVjZW55Y2g6IDMzMS4wMDg0MjkxMTg3NzM5NgogICAgICAgICAgICA8L3A+CiAgICAgICAgICAgIDwvcD4KICAgICAgICAgICAgUHJpZW1lcm55IHBvY2V0IHVtcnRpOiAgNy4xNTA5NTc4NTQ0MDYxMwogICAgICAgICAgICA8L3A+CiAgICAgICAgICAgICc8YSBocmVmPSJodHRwOi8vMTI3LjAuMC4xOjUwMDAvc3RhdHMvQ1owNjMidGFyZ2V0PSJfYmxhbmsiPiBab2JyYXogaW5mb3JtYWNpZSBvIEtyYWogVnlzb8SNaW5hJyA8L2E+JwogICAgICAgICAgICA=" width="500" style="border:none !important;" height="300"></iframe>`)[0];
            popup_cbbf184d4a1e41b6b6e34efd1d5a86b5.setContent(i_frame_49a3724942ed4d89b11a177bded80cb9);
        

        marker_06d1be079f8b4c36aba12eb54f7214a2.bindPopup(popup_cbbf184d4a1e41b6b6e34efd1d5a86b5)
        ;

        
    
    
            var marker_6c42f6c3e61148df83f475465ab9f024 = L.marker(
                [48.9545, 16.7677],
                {}
            ).addTo(map_645da097d6f847fdaba84a4f4a33db07);
        
    
            var icon_6d24bbfe2efc4eaebd731c17a6ffadfd = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_6c42f6c3e61148df83f475465ab9f024.setIcon(icon_6d24bbfe2efc4eaebd731c17a6ffadfd);
        
    
        var popup_1ecb7516068d4d6c81835aad2bd39129 = L.popup({"maxWidth": 2650});

        
            var i_frame_13d7979d6e1c4f8b85c368c3e048bde4 = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICAKICAgICAgICAgICAgPGgxPkppaG9tb3JhdnNrw70ga3JhaiA8L2gxPjxicj4KICAgICAgICAgICAgUHJpZW1lcjogQ1owNjQKICAgICAgICAgICAgPHA+CiAgICAgICAgICAgIFByaWVtZXJueSBwb2NldCBuYWthemVueWNoOiA3MzYuOTE4OTkyODg0NTEwMQogICAgICAgICAgICA8L3A+CiAgICAgICAgICAgIDxwPgogICAgICAgICAgICBQcmllbWVybnkgcG9jZXQgdnlsaWVjZW55Y2g6IDUwMy4zMDk3OTc0ODIyMTEyNQogICAgICAgICAgICA8L3A+CiAgICAgICAgICAgIDwvcD4KICAgICAgICAgICAgUHJpZW1lcm55IHBvY2V0IHVtcnRpOiAgMTAuOTI4ODQ1MTAxMjU4ODk0CiAgICAgICAgICAgIDwvcD4KICAgICAgICAgICAgJzxhIGhyZWY9Imh0dHA6Ly8xMjcuMC4wLjE6NTAwMC9zdGF0cy9DWjA2NCJ0YXJnZXQ9Il9ibGFuayI+IFpvYnJheiBpbmZvcm1hY2llIG8gSmlob21vcmF2c2vDvSBrcmFqJyA8L2E+JwogICAgICAgICAgICA=" width="500" style="border:none !important;" height="300"></iframe>`)[0];
            popup_1ecb7516068d4d6c81835aad2bd39129.setContent(i_frame_13d7979d6e1c4f8b85c368c3e048bde4);
        

        marker_6c42f6c3e61148df83f475465ab9f024.bindPopup(popup_1ecb7516068d4d6c81835aad2bd39129)
        ;

        
    
    
            var marker_6655df727ad84d358069517adbe0cd88 = L.marker(
                [49.4135, 13.3157],
                {}
            ).addTo(map_645da097d6f847fdaba84a4f4a33db07);
        
    
            var icon_baa9c6d8a42744a68399f06c0e98aca2 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_6655df727ad84d358069517adbe0cd88.setIcon(icon_baa9c6d8a42744a68399f06c0e98aca2);
        
    
        var popup_667f1d3a3bb24c69ba8a4a550baf1af5 = L.popup({"maxWidth": 2650});

        
            var i_frame_48873ea82f9247588c3405521da0d446 = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICAKICAgICAgICAgICAgPGgxPlBsemXFiHNrw70ga3JhaiA8L2gxPjxicj4KICAgICAgICAgICAgUHJpZW1lcjogQ1owMzIKICAgICAgICAgICAgPHA+CiAgICAgICAgICAgIFByaWVtZXJueSBwb2NldCBuYWthemVueWNoOiA0NTguNzg3MDgyNjQ5MTUxNgogICAgICAgICAgICA8L3A+CiAgICAgICAgICAgIDxwPgogICAgICAgICAgICBQcmllbWVybnkgcG9jZXQgdnlsaWVjZW55Y2g6IDMyMy44NDEyNjk4NDEyNjk4CiAgICAgICAgICAgIDwvcD4KICAgICAgICAgICAgPC9wPgogICAgICAgICAgICBQcmllbWVybnkgcG9jZXQgdW1ydGk6ICA1LjQwNjEzMDI2ODE5OTIzNAogICAgICAgICAgICA8L3A+CiAgICAgICAgICAgICc8YSBocmVmPSJodHRwOi8vMTI3LjAuMC4xOjUwMDAvc3RhdHMvQ1owMzIidGFyZ2V0PSJfYmxhbmsiPiBab2JyYXogaW5mb3JtYWNpZSBvIFBsemXFiHNrw70ga3JhaicgPC9hPicKICAgICAgICAgICAg" width="500" style="border:none !important;" height="300"></iframe>`)[0];
            popup_667f1d3a3bb24c69ba8a4a550baf1af5.setContent(i_frame_48873ea82f9247588c3405521da0d446);
        

        marker_6655df727ad84d358069517adbe0cd88.bindPopup(popup_667f1d3a3bb24c69ba8a4a550baf1af5)
        ;

        
    
    
            var marker_276ade1d95d6496783bd75bb33543d0b = L.marker(
                [49.6587, 17.0811],
                {}
            ).addTo(map_645da097d6f847fdaba84a4f4a33db07);
        
    
            var icon_763b04470fef44ae80fcf5f6b1ffee49 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_276ade1d95d6496783bd75bb33543d0b.setIcon(icon_763b04470fef44ae80fcf5f6b1ffee49);
        
    
        var popup_19c256046e3e4990868c08f198852c05 = L.popup({"maxWidth": 2650});

        
            var i_frame_9fb54b6788284429a7e63c135fe0fb5a = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICAKICAgICAgICAgICAgPGgxPk9sb21vdWNrw70ga3JhaiA8L2gxPjxicj4KICAgICAgICAgICAgUHJpZW1lcjogQ1owNzEKICAgICAgICAgICAgPHA+CiAgICAgICAgICAgIFByaWVtZXJueSBwb2NldCBuYWthemVueWNoOiA3MDcuMzE3MjQxMzc5MzEwMwogICAgICAgICAgICA8L3A+CiAgICAgICAgICAgIDxwPgogICAgICAgICAgICBQcmllbWVybnkgcG9jZXQgdnlsaWVjZW55Y2g6IDQ2OS42OTI3MjAzMDY1MTM0CiAgICAgICAgICAgIDwvcD4KICAgICAgICAgICAgPC9wPgogICAgICAgICAgICBQcmllbWVybnkgcG9jZXQgdW1ydGk6ICA5LjI4MDQ1OTc3MDExNDk0MwogICAgICAgICAgICA8L3A+CiAgICAgICAgICAgICc8YSBocmVmPSJodHRwOi8vMTI3LjAuMC4xOjUwMDAvc3RhdHMvQ1owNzEidGFyZ2V0PSJfYmxhbmsiPiBab2JyYXogaW5mb3JtYWNpZSBvIE9sb21vdWNrw70ga3JhaicgPC9hPicKICAgICAgICAgICAg" width="500" style="border:none !important;" height="300"></iframe>`)[0];
            popup_19c256046e3e4990868c08f198852c05.setContent(i_frame_9fb54b6788284429a7e63c135fe0fb5a);
        

        marker_276ade1d95d6496783bd75bb33543d0b.bindPopup(popup_19c256046e3e4990868c08f198852c05)
        ;

        
    
    
            var marker_91140967c05049f59373d2d8c060f541 = L.marker(
                [49.7305, 18.2333],
                {}
            ).addTo(map_645da097d6f847fdaba84a4f4a33db07);
        
    
            var icon_f99b560a1cfd49c2ba7068010f727502 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_91140967c05049f59373d2d8c060f541.setIcon(icon_f99b560a1cfd49c2ba7068010f727502);
        
    
        var popup_559f6139b9744289a10693074b06a27f = L.popup({"maxWidth": 2650});

        
            var i_frame_0b6eeedb2a8e4f28874df91d46e845d4 = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICAKICAgICAgICAgICAgPGgxPk1vcmF2c2tvc2xlenNrw70ga3JhaiA8L2gxPjxicj4KICAgICAgICAgICAgUHJpZW1lcjogQ1owODAKICAgICAgICAgICAgPHA+CiAgICAgICAgICAgIFByaWVtZXJueSBwb2NldCBuYWthemVueWNoOiAxMTgwLjk2MzYwMTUzMjU2NwogICAgICAgICAgICA8L3A+CiAgICAgICAgICAgIDxwPgogICAgICAgICAgICBQcmllbWVybnkgcG9jZXQgdnlsaWVjZW55Y2g6IDg0OS44NjI3MDc1MzUxMjEzCiAgICAgICAgICAgIDwvcD4KICAgICAgICAgICAgPC9wPgogICAgICAgICAgICBQcmllbWVybnkgcG9jZXQgdW1ydGk6ICAxNi45ODMzOTcxOTAyOTM3NDQKICAgICAgICAgICAgPC9wPgogICAgICAgICAgICAnPGEgaHJlZj0iaHR0cDovLzEyNy4wLjAuMTo1MDAwL3N0YXRzL0NaMDgwInRhcmdldD0iX2JsYW5rIj4gWm9icmF6IGluZm9ybWFjaWUgbyBNb3JhdnNrb3NsZXpza8O9IGtyYWonIDwvYT4nCiAgICAgICAgICAgIA==" width="500" style="border:none !important;" height="300"></iframe>`)[0];
            popup_559f6139b9744289a10693074b06a27f.setContent(i_frame_0b6eeedb2a8e4f28874df91d46e845d4);
        

        marker_91140967c05049f59373d2d8c060f541.bindPopup(popup_559f6139b9744289a10693074b06a27f)
        ;

        
    
    
            var marker_dd6d4607427845ba9517bbdee4fd6ad4 = L.marker(
                [49.8782, 14.9363],
                {}
            ).addTo(map_645da097d6f847fdaba84a4f4a33db07);
        
    
            var icon_cf79cea2dc2a4926832eacee63a8a96c = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_dd6d4607427845ba9517bbdee4fd6ad4.setIcon(icon_cf79cea2dc2a4926832eacee63a8a96c);
        
    
        var popup_94b910623dd34a828fa8e89653a7a38e = L.popup({"maxWidth": 2650});

        
            var i_frame_8498f7e7ab8945c0ac9ae8b9fa1336d7 = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICAKICAgICAgICAgICAgPGgxPlN0xZllZG/EjWVza8O9IGtyYWogPC9oMT48YnI+CiAgICAgICAgICAgIFByaWVtZXI6IENaMDIwCiAgICAgICAgICAgIDxwPgogICAgICAgICAgICBQcmllbWVybnkgcG9jZXQgbmFrYXplbnljaDogNjEyLjU1MDEyNzcxMzkyMDgKICAgICAgICAgICAgPC9wPgogICAgICAgICAgICA8cD4KICAgICAgICAgICAgUHJpZW1lcm55IHBvY2V0IHZ5bGllY2VueWNoOiA0MjkuNTIxMDcyNzk2OTM0ODUKICAgICAgICAgICAgPC9wPgogICAgICAgICAgICA8L3A+CiAgICAgICAgICAgIFByaWVtZXJueSBwb2NldCB1bXJ0aTogIDYuMjY3MjQxMzc5MzEwMzQ1CiAgICAgICAgICAgIDwvcD4KICAgICAgICAgICAgJzxhIGhyZWY9Imh0dHA6Ly8xMjcuMC4wLjE6NTAwMC9zdGF0cy9DWjAyMCJ0YXJnZXQ9Il9ibGFuayI+IFpvYnJheiBpbmZvcm1hY2llIG8gU3TFmWVkb8SNZXNrw70ga3JhaicgPC9hPicKICAgICAgICAgICAg" width="500" style="border:none !important;" height="300"></iframe>`)[0];
            popup_94b910623dd34a828fa8e89653a7a38e.setContent(i_frame_8498f7e7ab8945c0ac9ae8b9fa1336d7);
        

        marker_dd6d4607427845ba9517bbdee4fd6ad4.bindPopup(popup_94b910623dd34a828fa8e89653a7a38e)
        ;

        
    
    
            var marker_a4e1801e844f4af8b063c133c8d7b7bb = L.marker(
                [50.3512, 15.7976],
                {}
            ).addTo(map_645da097d6f847fdaba84a4f4a33db07);
        
    
            var icon_2531fe1675d444d7b0e349e3d537fb9b = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_a4e1801e844f4af8b063c133c8d7b7bb.setIcon(icon_2531fe1675d444d7b0e349e3d537fb9b);
        
    
        var popup_c746434f2117490086dbd250963c8507 = L.popup({"maxWidth": 2650});

        
            var i_frame_5f06829abc2c4d35aebc7ca7330c991f = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICAKICAgICAgICAgICAgPGgxPktyw6Fsb3bDqWhyYWRlY2vDvSBrcmFqIDwvaDE+PGJyPgogICAgICAgICAgICBQcmllbWVyOiBDWjA1MgogICAgICAgICAgICA8cD4KICAgICAgICAgICAgUHJpZW1lcm55IHBvY2V0IG5ha2F6ZW55Y2g6IDUxNS40OTU3ODU0NDA2MTMxCiAgICAgICAgICAgIDwvcD4KICAgICAgICAgICAgPHA+CiAgICAgICAgICAgIFByaWVtZXJueSBwb2NldCB2eWxpZWNlbnljaDogMzMwLjkyNjQzNjc4MTYwOTIKICAgICAgICAgICAgPC9wPgogICAgICAgICAgICA8L3A+CiAgICAgICAgICAgIFByaWVtZXJueSBwb2NldCB1bXJ0aTogIDUuNjk1Nzg1NDQwNjEzMDI3CiAgICAgICAgICAgIDwvcD4KICAgICAgICAgICAgJzxhIGhyZWY9Imh0dHA6Ly8xMjcuMC4wLjE6NTAwMC9zdGF0cy9DWjA1MiJ0YXJnZXQ9Il9ibGFuayI+IFpvYnJheiBpbmZvcm1hY2llIG8gS3LDoWxvdsOpaHJhZGVja8O9IGtyYWonIDwvYT4nCiAgICAgICAgICAgIA==" width="500" style="border:none !important;" height="300"></iframe>`)[0];
            popup_c746434f2117490086dbd250963c8507.setContent(i_frame_5f06829abc2c4d35aebc7ca7330c991f);
        

        marker_a4e1801e844f4af8b063c133c8d7b7bb.bindPopup(popup_c746434f2117490086dbd250963c8507)
        ;

        
    
    
            var marker_a95c12aed1644fdeaa734ed2e1c7715f = L.marker(
                [50.1435, 12.7502],
                {}
            ).addTo(map_645da097d6f847fdaba84a4f4a33db07);
        
    
            var icon_ee1c2af4cc78420cbd920b6e3105a171 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_a95c12aed1644fdeaa734ed2e1c7715f.setIcon(icon_ee1c2af4cc78420cbd920b6e3105a171);
        
    
        var popup_1b043eae11b34a779f03b9f00bc3cc52 = L.popup({"maxWidth": 2650});

        
            var i_frame_bbbcfde3b4d64024ac23aa190655201b = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICAKICAgICAgICAgICAgPGgxPkthcmxvdmFyc2vDvSBrcmFqIDwvaDE+PGJyPgogICAgICAgICAgICBQcmllbWVyOiBDWjA0MQogICAgICAgICAgICA8cD4KICAgICAgICAgICAgUHJpZW1lcm55IHBvY2V0IG5ha2F6ZW55Y2g6IDQyNy41NjE5NDEyNTE1OTY0CiAgICAgICAgICAgIDwvcD4KICAgICAgICAgICAgPHA+CiAgICAgICAgICAgIFByaWVtZXJueSBwb2NldCB2eWxpZWNlbnljaDogMjkzLjQwOTk2MTY4NTgyMzc2CiAgICAgICAgICAgIDwvcD4KICAgICAgICAgICAgPC9wPgogICAgICAgICAgICBQcmllbWVybnkgcG9jZXQgdW1ydGk6ICAxNi43NzEzOTIwODE3MzY5MQogICAgICAgICAgICA8L3A+CiAgICAgICAgICAgICc8YSBocmVmPSJodHRwOi8vMTI3LjAuMC4xOjUwMDAvc3RhdHMvQ1owNDEidGFyZ2V0PSJfYmxhbmsiPiBab2JyYXogaW5mb3JtYWNpZSBvIEthcmxvdmFyc2vDvSBrcmFqJyA8L2E+JwogICAgICAgICAgICA=" width="500" style="border:none !important;" height="300"></iframe>`)[0];
            popup_1b043eae11b34a779f03b9f00bc3cc52.setContent(i_frame_bbbcfde3b4d64024ac23aa190655201b);
        

        marker_a95c12aed1644fdeaa734ed2e1c7715f.bindPopup(popup_1b043eae11b34a779f03b9f00bc3cc52)
        ;

        
    
    
            var marker_cddc3216c9d8454e9550c2bb281c12ab = L.marker(
                [50.6119, 13.787],
                {}
            ).addTo(map_645da097d6f847fdaba84a4f4a33db07);
        
    
            var icon_58e44c2878234f3b903ab077b6d8b23e = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_cddc3216c9d8454e9550c2bb281c12ab.setIcon(icon_58e44c2878234f3b903ab077b6d8b23e);
        
    
        var popup_0ff344c75c5448adb45712a33c9697f3 = L.popup({"maxWidth": 2650});

        
            var i_frame_89ee343f322740bfa478bb90febe9acb = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICAKICAgICAgICAgICAgPGgxPsOac3RlY2vDvSBrcmFqIDwvaDE+PGJyPgogICAgICAgICAgICBQcmllbWVyOiBDWjA0MgogICAgICAgICAgICA8cD4KICAgICAgICAgICAgUHJpZW1lcm55IHBvY2V0IG5ha2F6ZW55Y2g6IDQ3Mi45NDI1Mjg3MzU2MzIyCiAgICAgICAgICAgIDwvcD4KICAgICAgICAgICAgPHA+CiAgICAgICAgICAgIFByaWVtZXJueSBwb2NldCB2eWxpZWNlbnljaDogMzEwLjU2MjEyMzcwMDA1NDcKICAgICAgICAgICAgPC9wPgogICAgICAgICAgICA8L3A+CiAgICAgICAgICAgIFByaWVtZXJueSBwb2NldCB1bXJ0aTogIDcuMzg2NDI1ODM0NzAxNjk3CiAgICAgICAgICAgIDwvcD4KICAgICAgICAgICAgJzxhIGhyZWY9Imh0dHA6Ly8xMjcuMC4wLjE6NTAwMC9zdGF0cy9DWjA0MiJ0YXJnZXQ9Il9ibGFuayI+IFpvYnJheiBpbmZvcm1hY2llIG8gw5pzdGVja8O9IGtyYWonIDwvYT4nCiAgICAgICAgICAgIA==" width="500" style="border:none !important;" height="300"></iframe>`)[0];
            popup_0ff344c75c5448adb45712a33c9697f3.setContent(i_frame_89ee343f322740bfa478bb90febe9acb);
        

        marker_cddc3216c9d8454e9550c2bb281c12ab.bindPopup(popup_0ff344c75c5448adb45712a33c9697f3)
        ;

        
    
    
            var marker_c6b343c74fb6463783dd93146e18d081 = L.marker(
                [50.6594, 14.7632],
                {}
            ).addTo(map_645da097d6f847fdaba84a4f4a33db07);
        
    
            var icon_a19386807bf9474d9d3a70728dc9e0f6 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_c6b343c74fb6463783dd93146e18d081.setIcon(icon_a19386807bf9474d9d3a70728dc9e0f6);
        
    
        var popup_55ba3816a6ae4366a441f8b2cd5a8a41 = L.popup({"maxWidth": 2650});

        
            var i_frame_8134d768ff19468596c5fc13740af8bb = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICAKICAgICAgICAgICAgPGgxPkxpYmVyZWNrw70ga3JhaiA8L2gxPjxicj4KICAgICAgICAgICAgUHJpZW1lcjogQ1owNTEKICAgICAgICAgICAgPHA+CiAgICAgICAgICAgIFByaWVtZXJueSBwb2NldCBuYWthemVueWNoOiA1NDQuMjY4MTk5MjMzNzE2NQogICAgICAgICAgICA8L3A+CiAgICAgICAgICAgIDxwPgogICAgICAgICAgICBQcmllbWVybnkgcG9jZXQgdnlsaWVjZW55Y2g6IDM1Ni4yMDU5Mzg2OTczMTgKICAgICAgICAgICAgPC9wPgogICAgICAgICAgICA8L3A+CiAgICAgICAgICAgIFByaWVtZXJueSBwb2NldCB1bXJ0aTogIDQuNDEwOTE5NTQwMjI5ODg1CiAgICAgICAgICAgIDwvcD4KICAgICAgICAgICAgJzxhIGhyZWY9Imh0dHA6Ly8xMjcuMC4wLjE6NTAwMC9zdGF0cy9DWjA1MSJ0YXJnZXQ9Il9ibGFuayI+IFpvYnJheiBpbmZvcm1hY2llIG8gTGliZXJlY2vDvSBrcmFqJyA8L2E+JwogICAgICAgICAgICA=" width="500" style="border:none !important;" height="300"></iframe>`)[0];
            popup_55ba3816a6ae4366a441f8b2cd5a8a41.setContent(i_frame_8134d768ff19468596c5fc13740af8bb);
        

        marker_c6b343c74fb6463783dd93146e18d081.bindPopup(popup_55ba3816a6ae4366a441f8b2cd5a8a41)
        ;

        
    
    
            var marker_52f930603489496a9240208514284cf7 = L.marker(
                [49.2162, 17.772000000000002],
                {}
            ).addTo(map_645da097d6f847fdaba84a4f4a33db07);
        
    
            var icon_1e66d97fcc3c4d0da4ce209b81d13032 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_52f930603489496a9240208514284cf7.setIcon(icon_1e66d97fcc3c4d0da4ce209b81d13032);
        
    
        var popup_3b17c5650c0e4e50969bee42b6847e46 = L.popup({"maxWidth": 2650});

        
            var i_frame_08371857313943deb1ecc7e6105c26db = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICAKICAgICAgICAgICAgPGgxPlpsw61uc2vDvSBrcmFqIDwvaDE+PGJyPgogICAgICAgICAgICBQcmllbWVyOiBDWjA3MgogICAgICAgICAgICA8cD4KICAgICAgICAgICAgUHJpZW1lcm55IHBvY2V0IG5ha2F6ZW55Y2g6IDg4MC44NDA5OTYxNjg1ODI0CiAgICAgICAgICAgIDwvcD4KICAgICAgICAgICAgPHA+CiAgICAgICAgICAgIFByaWVtZXJueSBwb2NldCB2eWxpZWNlbnljaDogNTg1LjA5MjkxMTg3NzM5NDYKICAgICAgICAgICAgPC9wPgogICAgICAgICAgICA8L3A+CiAgICAgICAgICAgIFByaWVtZXJueSBwb2NldCB1bXJ0aTogIDguNjM0MDk5NjE2ODU4MjM4CiAgICAgICAgICAgIDwvcD4KICAgICAgICAgICAgJzxhIGhyZWY9Imh0dHA6Ly8xMjcuMC4wLjE6NTAwMC9zdGF0cy9DWjA3MiJ0YXJnZXQ9Il9ibGFuayI+IFpvYnJheiBpbmZvcm1hY2llIG8gWmzDrW5za8O9IGtyYWonIDwvYT4nCiAgICAgICAgICAgIA==" width="500" style="border:none !important;" height="300"></iframe>`)[0];
            popup_3b17c5650c0e4e50969bee42b6847e46.setContent(i_frame_08371857313943deb1ecc7e6105c26db);
        

        marker_52f930603489496a9240208514284cf7.bindPopup(popup_3b17c5650c0e4e50969bee42b6847e46)
        ;

        
    
    
            var marker_9f26fd0568eb4e57b5682275f63b0fd2 = L.marker(
                [48.9458, 14.4416],
                {}
            ).addTo(map_645da097d6f847fdaba84a4f4a33db07);
        
    
            var icon_b41c77aabd58491e941a452a8429379c = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_9f26fd0568eb4e57b5682275f63b0fd2.setIcon(icon_b41c77aabd58491e941a452a8429379c);
        
    
        var popup_815e35d01cc34a4095d2baefb2af7b06 = L.popup({"maxWidth": 2650});

        
            var i_frame_2b12e7272f44492da5c8482170d2bdd7 = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICAKICAgICAgICAgICAgPGgxPkppaG/EjWVza8O9IGtyYWogPC9oMT48YnI+CiAgICAgICAgICAgIFByaWVtZXI6IENaMDMxCiAgICAgICAgICAgIDxwPgogICAgICAgICAgICBQcmllbWVybnkgcG9jZXQgbmFrYXplbnljaDogNDE0LjA2ODQxODE3MTg2NjQKICAgICAgICAgICAgPC9wPgogICAgICAgICAgICA8cD4KICAgICAgICAgICAgUHJpZW1lcm55IHBvY2V0IHZ5bGllY2VueWNoOiAyNjcuMDk0NjkwNzQ5ODYzMTYKICAgICAgICAgICAgPC9wPgogICAgICAgICAgICA8L3A+CiAgICAgICAgICAgIFByaWVtZXJueSBwb2NldCB1bXJ0aTogIDUuNjMzODI1OTQ0MTcwNzcyCiAgICAgICAgICAgIDwvcD4KICAgICAgICAgICAgJzxhIGhyZWY9Imh0dHA6Ly8xMjcuMC4wLjE6NTAwMC9zdGF0cy9DWjAzMSJ0YXJnZXQ9Il9ibGFuayI+IFpvYnJheiBpbmZvcm1hY2llIG8gSmlob8SNZXNrw70ga3JhaicgPC9hPicKICAgICAgICAgICAg" width="500" style="border:none !important;" height="300"></iframe>`)[0];
            popup_815e35d01cc34a4095d2baefb2af7b06.setContent(i_frame_2b12e7272f44492da5c8482170d2bdd7);
        

        marker_9f26fd0568eb4e57b5682275f63b0fd2.bindPopup(popup_815e35d01cc34a4095d2baefb2af7b06)
        ;

        
    
</script>